/* ==========NORMALIZE========== */
@import 'normalize.css';

*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* background: #060a45; */
  background: rgb(0,2,37);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

main {
  height: 100vh;
  background: rgba(16,25,110,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.masthead {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: white;
  background: rgb(0,2,37);
  background: linear-gradient(0deg, rgba(0,2,37,0) 0%, rgba(0,2,37,1) 100%);
}

.masthead header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 5rem auto 3rem;
  letter-spacing: .25rem;
  text-align: center;
}

.masthead header h2 {
  font-size: 3.5rem;
  text-align: center;
}

h2:last-child {
  font-weight: 300;
  letter-spacing: .5rem;
}

.content {
  padding: 10%;
  background: inherit;
}

.content-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.75rem;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background-color: inherit;
}

.content_wrap {
  display: flex;
  border: 6px solid blue;
  width: auto;
  height: 16rem;
  border-radius: 22px;
  align-items: center;
  text-decoration: none;
}

#web-card {
  background-color: darkcyan;
}

#web-card:hover {
}

#about-card {
  background-color: gold;
}

#art-card {
  background-color: #660066;
}

#contact-card {
  background: black;
}

.content_wrap_item {
  background-color: none;
  align-items: stretch;
  margin: auto;
}

.content_wrap_item h3 {
  text-align: center;
  color: black;
}

.content_wrap_item p {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: white;
}

#contact-card h3 {
  color: white;
}

.social {
  padding: 2rem 0 5rem;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: inherit;
}

.fab {
  font-size: 5rem;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background: rgb(0,2,37); */
  background: linear-gradient(0deg, rgba(0,2,37,1) 10%, rgba(16,25,110,1) 100%);
}

footer h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 3rem 0 3rem 0;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
*/
