/* ==========NORMALIZE========== */
@import "normalize.css";

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgb(0, 2, 37);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

main {
  height: 100vh;
  background: rgba(16, 25, 110, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.masthead {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: white;
  background: rgb(0, 2, 37);
  background: linear-gradient(
    0deg,
    rgba(0, 2, 37, 0) 15%,
    rgba(0, 2, 37, 1) 100%
  );
}

.masthead header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: inherit;
  padding-bottom: 1rem;
}

h1 {
  font-size: 7rem;
  margin: 3rem auto 1rem;
  padding: 0 0.5rem;
  letter-spacing: 0.35rem;
  padding-left: 2.5vw;
}

.expertise {
  font-size: 1.75rem;
  margin: 0.5rem 2rem 1.25rem;
  line-height: 3.75rem;
  letter-spacing: 0.25rem;
}

.expertise h2 {
  margin: 0.5rem;
  line-height: 3rem;
}

.expertise h2:nth-of-type(even) {
  margin-top: 0.75rem;
}

.tag {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0.75rem 1rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.welcome {
  background: rgba(16, 25, 110, 1);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 4.5rem;
}

.welcome img {
  position: absolute;
  text-align: center;
  top: 1.5rem;
  border-radius: 50%;
  border: 10px solid #fff;
  width: 10rem;
}

.welcome article {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(16 25 110);
  font-size: 1.1rem;
  background: #fff;
  font-weight: 400;
  line-height: 2.25rem;
  text-align: center;
  border-radius: 8px;
  margin: 1rem 1.5rem 1rem;
  padding: 2.25rem 6rem 4.5rem;
  width: 85%;
}

.welcome #firstLine {
  padding: 5rem 0.25rem 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.25rem;
}

#firstp {
  padding: 0.5rem 4rem 0;
  max-width: 1200px;
  font-size: 1.5rem;
}

em {
  font-weight: 600;
}

.xp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background: rgba(16, 25, 110, 1);
}

.xp_wrap {
  background: #fff;
  width: auto;
  min-width: 255.13px;
  height: auto;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  padding: 2rem;
}

#web-card {
  align-self: stretch;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

.xp_wrap_item {
  align-items: stretch;
}

.xp_wrap_item h3 {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  color: rgba(16, 25, 110, 1);
}

.xp_wrap_item h4 {
  text-align: center;
  color: rgba(17, 32, 110, 0.7);
  font-size: 1.3rem;
  margin: 1rem 0 0;
}

hr {
  color: #000;
  margin-bottom: 0.5rem;
}

.xp_wrap_item li {
  text-align: center;
  color: rgba(16, 25, 110, 1);
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  line-height: 2rem;
}

.work,
.brands {
  color: #fff;
  background: rgba(16, 25, 110, 1);
  min-width: 90%;
}

.brands,
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background: rgba(16, 25, 110, 1);
}

.brands-line01 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  max-width: 100%;
  flex-wrap: wrap;
}

.brands-line01,
.brands-line02 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.brands-line01,
.brands-line02 {
  width: 100%;
  height: auto;
}

.brands-line02 {
  margin-top: 3rem;
}

.brands img {
  gap: 1.5rem;
  width: fit-content;
  max-width: 100%;
}

.work h3 {
  margin: 2rem 0 1rem;
  text-align: center;
}

.thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  justify-items: center;
  grid-row-gap: 0.9rem;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.thumbnails a,
.thumbnails div,
.brands-line01,
.brands-line02 {
  width: fit-content;
}

.thumbnails a img,
.thumbnails img {
  border-radius: 8px;
  transition: all 0.125s ease 0s;
  width: fit-content;
  display: inline-block;
  min-width: 90%;
  max-width: 100%;
}

.thumbnails img:hover,
.thumbnails img:focus {
  border-radius: 8px;
  transform: scale(1.05, 1.05);
}

.contact p:first-child {
  font-size: 1.8rem;
}

/* ==========MODAL BEGIN========== */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1920px;
}

#sq {
  text-align: center;
}

#sq img {
  width: 65%;
}

/* The Close Button */
.close {
  color: grey;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e3e3e3;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

.thumbnails > *:hover {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  margin-top: -55px;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: #e3e3e3;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 1rem;
  color: #e3e3e3;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.modalControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.modalControls img {
  width: 6rem;
  padding: 0.5rem;
}

.hover-shadow:hover {
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 100);
}

/* ==========MODAL END========== */

.contact {
  padding: 4rem;
  width: auto;
  text-align: center;
  background: inherit;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 2, 37, 1) 0%,
    rgba(16, 25, 110, 1) 100%
  );
}

.contact p {
  margin: 0.5rem;
  padding: 0.5rem;
}

.contact p:nth-child(1n + 2) {
  font-size: 1.5rem;
  line-height: 2rem;
}

.contact_icons {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

a .fab,
a .far,
svg {
  color: white;
  border: 2px solid red;
  margin: 1.5rem;
  background: none;
  font-size: 3.75rem;
  justify-content: space-around;
  transition: all 0.125s ease 0s;
}

.fab:hover,
.far:hover {
  transform: scale(1.125, 1.125) translateY(-0.5rem);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
}

footer h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin: 3rem 1rem 1rem;
}

/* ~~~~~~~~~~MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ========= DESKTOP ==========*/

@media only screen and (max-width: 1205px) {
  .welcome article {
    padding: 2.25rem 2rem 3.5rem;
  }

  .welcome #firstLine {
    padding: 4.5rem 0.25rem 0.5rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .welcome p {
    font-size: 1rem;
  }

  #firstp {
    padding: 0.25rem 1rem 0;
    max-width: 1200px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* ========= TABLET ==========*/
@media only screen and (max-width: 945px) {
  .expertise {
    margin-top: 0;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .expertise h2 {
    margin: 0.5rem;
    line-height: 3rem;
  }

  .tag {
    font-size: 1.75rem;
    margin-top: 0.25rem;
  }

  #firstp {
    padding: 0.25rem 1rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  .welcome article {
    padding: 2.25rem 1rem 3.5rem;
  }

  .expertise h2 {
    margin: 0.5rem;
    line-height: 3rem;
  }

  .welcome article {
    padding-bottom: 3rem;
  }

  .welcome #firstLine {
    padding-top: 4rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  #firstp {
    padding: 0.25rem 2rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* ========= MOBILE ==========*/

@media only screen and (max-width: 694px) {
  .masthead header {
    padding-bottom: 0rem;
  }

  h1 {
    margin: 3rem auto 1rem;
    font-size: 4rem;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 500;
  }

  .expertise {
    margin-top: 0.75rem;
  }

  .expertise h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  .tag {
    font-size: 1.5rem;
    line-height: 2.15rem;
  }

  .welcome article {
    padding: 2.25rem 0.75rem 2.5rem;
  }

  .welcome #firstLine {
    padding-top: 3.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
  }

  #firstp {
    padding: 0.25rem 2rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .contact p:first-child {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media only screen and (max-width: 575px) {
  .tag {
    margin-top: 0.75rem;
  }

  .tag {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .expertise h2 {
    font-size: 2.25rem;
    line-height: 1.75rem;
  }

  .expertise {
    margin-bottom: 0.5rem;
  }

  .xp {
    flex-direction: column-reverse;
  }

  #web-card {
    align-self: center;
  }

  .thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work h3 {
    margin: 2rem 0 0.25rem;
    text-align: center;
  }

  .welcome #firstLine {
    font-size: 1.15rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  #firstp {
    font-size: 1rem;
  }

  .contact {
    padding: 1rem;
  }
}

@media only screen and (max-width: 535px) {
  h1 {
    font-size: 3.5rem;
  }

  .expertise {
    margin: 0.75rem 2rem 1.25rem;
  }

  .expertise h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .welcome article {
    padding: 2.25rem 0.75rem 2rem;
  }
}

@media only screen and (max-width: 467px) {
  h1 {
    font-size: 2.5rem;
  }

  .welcome #firstLine {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
  }

  .welcome #firstp {
    font-size: 0.95rem;
    line-height: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .expertise h2:nth-of-type(even) {
    margin-top: 0.5rem;
  }

  .expertise h2 {
    font-size: 1.5rem;
    margin: 0.25rem;
  }

  .expertise {
    margin-bottom: 0.5rem;
  }
}
